---
- name: Configure GNOME Terminal Font
  hosts: localhost
  connection: local
  tasks:
    - name: Get the default GNOME Terminal profile UUID
      shell: "gsettings get org.gnome.Terminal.ProfilesList default | tr -d \"'\""
      register: terminal_profile_uuid
      changed_when: false

    - name: Disable "Use system font" for the profile
      dconf:
        key: "/org/gnome/terminal/legacy/profiles:/:{{ terminal_profile_uuid.stdout }}/use-system-font"
        value: "false"

    - name: Set Hack Nerd Font Mono 11 as the default font
      dconf:
        key: "/org/gnome/terminal/legacy/profiles:/:{{ terminal_profile_uuid.stdout }}/font"
        value: "'Hack Nerd Font Mono 11'"