---
- name: Set Gnome Terminal font
  become: true
  become_user: "{{ user_name }}"
  shell: |
    PROFILE=$(dbus-run-session gsettings get org.gnome.Terminal.Legacy.ProfilesList default | tr -d "'")
    dbus-run-session gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${PROFILE}/ font 'Hack Nerd Font Mono 11'
    dbus-run-session gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${PROFILE}/ use-custom-font true
  args:
    executable: /bin/bash
  register: gnome_terminal_font_set
  changed_when: gnome_terminal_font_set.rc == 0