---
- name: Install Zsh
  apt:
    name:
      - zsh
      - zsh-completions
    state: present

- name: Create basic .zshrc with Starship
  copy:
    dest: "/home/{{ user_name }}/.zshrc"
    owner: "{{ user_name }}"
    group: "{{ user_group_name }}"
    mode: '0644'
    content: |
      # Homebrew
      eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

      # Basic Zsh config
      fpath+=(/usr/share/zsh-completions)
      autoload -Uz compinit
      compinit
      
      HISTFILE=~/.histfile
      HISTSIZE=1000
      SAVEHIST=1000
      setopt appendhistory
      
      # Starship
      eval "$(starship init zsh)"
  when: install_starship

- name: Create .config directory
  file:
    path: "/home/{{ user_name }}/.config"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_group_name }}"
    mode: '0755'
  when: install_starship

- name: Copy Starship configuration
  copy:
    src: files/starship/starship.toml
    dest: "/home/{{ user_name }}/.config/starship.toml"
    owner: "{{ user_name }}"
    group: "{{ user_group_name }}"
    mode: '0644'
  when: install_starship

- name: Set Zsh as default shell
  user:
    name: "{{ user_name }}"
    shell: /usr/bin/zsh
  when: install_starship
