---
- name: Install Zsh
  apt:
    name: zsh
    state: present

- name: Create basic .zshrc with Starship
  copy:
    dest: "/home/{{ user_name }}/.zshrc"
    owner: "{{ user_name }}"
    group: "{{ user_group_name }}"
    mode: '0644'
    content: |
      # Homebrew
      eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

      # Basic Zsh config
      autoload -Uz compinit
      compinit
      
      HISTFILE=~/.histfile
      HISTSIZE=1000
      SAVEHIST=1000
      setopt appendhistory
      
      # Starship
      eval "$(starship init zsh)"

- name: Set Zsh as default shell
  user:
    name: "{{ user_name }}"
    shell: /usr/bin/zsh
  when: install_starship