---
- name: Install Zsh
  apt:
    name: zsh
    state: present

- name: Install Oh My Zsh
  git:
    repo: 'https://github.com/ohmyzsh/ohmyzsh.git'
    dest: "/home/{{ user_name }}/.oh-my-zsh"
    depth: 1
  become: true
  become_user: "{{ user_name }}"
  become_method: su

- name: Create .zshrc with Oh My Zsh and Starship
  copy:
    dest: "/home/{{ user_name }}/.zshrc"
    owner: "{{ user_name }}"
    group: "{{ user_group_name }}"
    mode: '0644'
    content: |
      # Path to your oh-my-zsh installation.
      export ZSH="$HOME/.oh-my-zsh"

      # Set name of the theme to load --- if set to "random", it will
      # load a random theme each time oh-my-zsh is loaded, in which case,
      # to know which specific one was loaded, run: echo $RANDOM_THEME
      # See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
      # We disable the theme here because Starship handles the prompt.
      ZSH_THEME=""

      # Which plugins would you like to load?
      # Standard plugins can be found in $ZSH/plugins/
      # Custom plugins may be added to $ZSH_CUSTOM/plugins/
      # Example format: plugins=(rails git textmate ruby lighthouse)
      # Add wisely, as too many plugins slow down shell startup.
      plugins=(git)

      # Source Oh My Zsh
      source $ZSH/oh-my-zsh.sh

      # Homebrew (if installed)
      if [ -f "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        # zsh-autosuggestions
        if [ -f "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh" ]; then
          source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
        fi
      fi

      # User configuration
      
      # Starship
      eval "$(starship init zsh)"
  when: install_starship

- name: Create .config directory
  file:
    path: "/home/{{ user_name }}/.config"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_group_name }}"
    mode: '0755'
  when: install_starship

- name: Copy Starship configuration
  copy:
    src: files/starship/starship.toml
    dest: "/home/{{ user_name }}/.config/starship.toml"
    owner: "{{ user_name }}"
    group: "{{ user_group_name }}"
    mode: '0644'
  when: install_starship

- name: Set Zsh as default shell
  user:
    name: "{{ user_name }}"
    shell: /usr/bin/zsh
  when: install_starship