---
- name: Install Zsh and dependencies
  apt:
    name:
      - zsh
      - git
      - curl
    state: present

- name: Install Oh My Zsh
  block:
    - name: Clone Oh My Zsh
      git:
        repo: 'https://github.com/ohmyzsh/ohmyzsh.git'
        dest: "/home/{{ user_name }}/.oh-my-zsh"
        depth: 1
      become_user: "{{ user_name }}"

    - name: Create .zshrc from template
      copy:
        src: "/home/{{ user_name }}/.oh-my-zsh/templates/zshrc.zsh-template"
        dest: "/home/{{ user_name }}/.zshrc"
        force: no
        remote_src: yes
        owner: "{{ user_name }}"
        group: "{{ user_group_name }}"
      become_user: "{{ user_name }}"

    - name: Clone Powerlevel10k
      git:
        repo: 'https://github.com/romkatv/powerlevel10k.git'
        dest: "/home/{{ user_name }}/.oh-my-zsh/custom/themes/powerlevel10k"
        depth: 1
      become_user: "{{ user_name }}"

    - name: Set ZSH_THEME to powerlevel10k
      lineinfile:
        path: "/home/{{ user_name }}/.zshrc"
        regexp: '^ZSH_THEME='
        line: 'ZSH_THEME="powerlevel10k/powerlevel10k"'
      become_user: "{{ user_name }}"
  
    - name: Set Zsh as default shell
      user:
        name: "{{ user_name }}"
        shell: /usr/bin/zsh
  when: install_ohmyzsh